/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --logo-color: #DB00FF; /* цвет лого */
  --logo-shadow: #FF0070; /* цвет тени у лого */
  --section-title: #FF0070; /* цвет названий секций */
  --subtitle-color: #000028; /* цвет текста сабтайтлов  */
  --subtitle-bg: #FF0070; /* фон у сабтайтлов */
  --paragraph-color: #F1B2CE; /* цвет текста в секциях */
  --rectangle-color: #FF0070; /* цвет уголков и навигации*/
  --background-image: url(../images/cover-image-dark.png); /* фоновая картинка */
}
