/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --logo-color: #FFC2E6; /* цвет лого */
  --logo-shadow: #FF8DCB; /* цвет тени у лого */
  --section-title: #353430; /* цвет названий секций */
  --subtitle-color: #353430; /* цвет текста сабтайтлов  */
  --subtitle-bg: #FF8DCB; /* фон у сабтайтлов */
  --paragraph-color: #353430; /* цвет текста в секциях */
  --rectangle-color: #353430; /* цвет уголков и навигации*/
  --background-image: url(../images/cover-image-light.png); /* фоновая картинка */
}


.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --logo-color: #FFC2E6; /* цвет лого */
    --logo-shadow: #FF8DCB; /* цвет тени у лого */
    --section-title: #353430; /* цвет названий секций */
    --subtitle-color: #353430; /* цвет текста сабтайтлов  */
    --subtitle-bg: #FF8DCB; /* фон у сабтайтлов */
    --paragraph-color: #353430; /* цвет текста в секциях */
    --rectangle-color: #353430; /* цвет уголков и навигации*/
    --background-image: url(../images/cover-image-light.png); /* фоновая картинка */   
    }
}